/* src/styles/index.css */
body {
  background: linear-gradient(rgb(245, 126, 126), rgb(146, 20, 20));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.big-counter {
  display: flex;
  align-items: center;
  background: #ac5656;
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(106, 32, 32);
  font-size: 40px;
  font-family: "Courier New", monospace;
}

.big-counter .icon {
  margin-right: 30px;
}

.big-counter .digit {
  background: #c97979;
  margin: 0 3px;
  padding: 10px 15px;
  border-radius: 4px;
  min-width: 35px;
  text-align: center;
}

